{% extends "base.html" %}

{% block app_content %}
<div class="row">
    <div class="col-md-12">
        <h1>客户详情</h1>
        
        {% if current_user.user_type == 'employee' %}
        <div class="pull-right">
            <a href="{{ url_for('customers.edit', customer_id=customer.id) }}" class="btn btn-warning">编辑</a>
        </div>
        {% endif %}
        
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">基本信息</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>客户ID:</dt>
                            <dd>{{ customer.customer_id }}</dd>
                            <dt>姓名:</dt>
                            <dd>{{ customer.name }}</dd>
                            <dt>证件号:</dt>
                            <dd>{{ customer.id_card }}</dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>居住城市:</dt>
                            <dd>{{ customer.city }}</dd>
                            <dt>街道:</dt>
                            <dd>{{ customer.street }}</dd>
                            <dt>客户助理:</dt>
                            <dd>{{ customer.assistant.name if customer.assistant else '无' }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">关联账户</h3>
            </div>
            <div class="panel-body">
                {% if customer.accounts %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>账户号码</th>
                            <th>账户类型</th>
                            <th>余额</th>
                            <th>创建时间</th>
                            <th>最后访问</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in customer.accounts %}
                        <tr>
                            <td>{{ account.account_number }}</td>
                            <td>{% if account.account_type == 'savings' %}储蓄账户{% else %}支票账户{% endif %}</td>
                            <td>¥{{ "%.2f"|format(account.balance) }}</td>
                            <td>{{ account.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                            <td>{{ account.last_access_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>该客户没有关联账户。</p>
                {% endif %}
            </div>
        </div>
        
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">关联贷款</h3>
            </div>
            <div class="panel-body">
                {% if customer.loans %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>贷款号码</th>
                            <th>贷款金额</th>
                            <th>发放日期</th>
                            <th>剩余余额</th>
                            <th>发放支行</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for loan in customer.loans %}
                        <tr>
                            <td>{{ loan.loan_number }}</td>
                            <td>¥{{ "%.2f"|format(loan.amount) }}</td>
                            <td>{{ loan.issue_date.strftime('%Y-%m-%d') }}</td>
                            <td>¥{{ "%.2f"|format(loan.remaining_balance) }}</td>
                            <td>{{ loan.branch.name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>该客户没有关联贷款。</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
